#header {
  width: 100%;
  margin: 0px auto;
  position: fixed;
  top: 0px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2000; }
  #header #contenedorTitulo {
    margin-top: 5px;
    margin-top: 5px; }
  #header .logo {
    margin: 0px auto;
    width: 430px;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    transition: all 1s; }
    #header .logo #iluminacion {
      background-color: #fff;
      transition: all 1s;
      position: absolute;
      transform: translate(-32px, -31px);
      margin: 0px auto;
      width: 60px;
      height: 63px;
      display: block;
      border-radius: 50%;
      z-index: 2;
      opacity: 0;
      transition: .3s;
      animation: opacity_out 1.3s ease 2s;
      box-shadow: 0px 0px 49px 17px #ffda00; }
      #header .logo #iluminacion div {
        background-color: #fff;
        transition: all 1s;
        position: absolute;
        top: 56px;
        left: 18px;
        margin: 0px auto;
        width: 23px;
        height: 13px;
        display: block; }
    #header .logo #iluminacion:hover {
      transition: all 1s;
      opacity: 1;
      transition: .1s; }
    #header .logo h1 {
      transition: transform 1s;
      margin: 0px auto;
      width: 405px;
      height: 100px;
      display: flex;
      color: #fff;
      justify-content: space-between;
      align-items: flex-end; }
      #header .logo h1 #Link {
        transition: transform 1s;
        opacity: 0;
        font-weight: 100;
        animation: opacity_in 1.3s;
        animation-delay: .5s;
        animation-fill-mode: forwards; }
      #header .logo h1 #Spired {
        transition: transform 1s;
        opacity: 0;
        animation: opacity_in 1.3s;
        animation-delay: .8s;
        animation-fill-mode: forwards; }
      #header .logo h1 .icono {
        transition: transform 1s;
        background-image: url(../IMG/Logo_LinkSpired.png);
        background-position: center;
        background-size: cover;
        width: 65px;
        height: 100%;
        opacity: 0;
        font-weight: 100;
        animation: opacity_in 1.3s;
        animation-delay: 1.1s;
        animation-fill-mode: forwards; }
  #header .logoFooter {
    transition: all 1s;
    margin: 0px auto;
    width: 295px;
    height: 55px;
    display: flex;
    align-items: flex-end; }
    #header .logoFooter h2 {
      transition: all 1s;
      font-weight: 100;
      color: #fff;
      margin: 0px auto;
      width: 350px;
      height: 30px;
      display: block;
      opacity: 0;
      font-weight: 100;
      animation: opacity_in 1.3s;
      animation-delay: 1.2s;
      animation-fill-mode: forwards; }
  #header #brackeys {
    transition: all 1s;
    position: absolute;
    left: 50%;
    top: 14px; }
    #header #brackeys .left, #header #brackeys .right {
      transition: all 1s;
      position: absolute;
      font-size: 70px;
      color: #fff; }
    #header #brackeys .left {
      right: 206px;
      animation: brackeysMove_left 1.7s; }
    #header #brackeys .right {
      left: 206px;
      animation: brackeysMove_right 1.7s; }

.down {
  height: 120px;
  transition: all 1s; }
  .down #contenedorTitulo {
    height: 90px; }
    .down #contenedorTitulo #iluminacion {
      transform: translate(-23.5px, -23px);
      margin: 0px auto;
      width: 40px;
      height: 43px;
      display: block; }
      .down #contenedorTitulo #iluminacion div {
        width: 17.5px;
        height: 13px;
        margin: -21px 0px 0px -6.93px; }
    .down #contenedorTitulo .logo {
      height: 70px; }
      .down #contenedorTitulo .logo h1 {
        width: 300px;
        font-size: 50px;
        height: 70px; }
        .down #contenedorTitulo .logo h1 span {
          height: 43px; }
        .down #contenedorTitulo .logo h1 .icono {
          width: 45px;
          height: 100%; }
    .down #contenedorTitulo .logoFooter {
      width: 300px;
      text-align: center;
      height: 50px; }
      .down #contenedorTitulo .logoFooter h2 {
        font-size: 17px; }
    .down #contenedorTitulo #brackeys {
      position: absolute;
      left: 50%;
      top: 25px; }
      .down #contenedorTitulo #brackeys .left, .down #contenedorTitulo #brackeys .right {
        font-size: 50px; }
      .down #contenedorTitulo #brackeys .left {
        right: 150px; }
      .down #contenedorTitulo #brackeys .right {
        left: 150px; }

.up {
  height: 180px;
  transition: all 1s; }
  .up .logo h1 {
    font-size: 70px; }
    .up .logo h1 span {
      height: 73px; }

.phone {
  height: 100px;
  transition: all 1s; }
  .phone #contenedorTitulo {
    height: 90px; }
    .phone #contenedorTitulo .logo {
      justify-content: flex-start;
      width: 300px;
      margin-left: 25px;
      height: 65px; }
      .phone #contenedorTitulo .logo #iluminacion {
        transform: translate(82px, -17px);
        margin: 0px auto;
        width: 28px;
        height: 30px;
        display: block; }
        .phone #contenedorTitulo .logo #iluminacion div {
          width: 12px;
          height: 7px;
          margin: -29px 0px 0px -9px; }
      .phone #contenedorTitulo .logo h1 {
        height: 50px;
        width: 230px;
        font-size: 40px; }
        .phone #contenedorTitulo .logo h1 span {
          height: 40px; }
        .phone #contenedorTitulo .logo h1 .icono {
          width: 30px;
          height: 100%;
          margin-bottom: 0; }
    .phone #contenedorTitulo .logoFooter {
      margin-left: 70px;
      height: 40px; }
      .phone #contenedorTitulo .logoFooter h2 {
        font-size: 14.5px; }
    .phone #contenedorTitulo #brackeys {
      position: absolute;
      left: 140px;
      top: 28px; }
      .phone #contenedorTitulo #brackeys .left, .phone #contenedorTitulo #brackeys .right {
        font-size: 40px; }
      .phone #contenedorTitulo #brackeys .left {
        right: 117px; }
      .phone #contenedorTitulo #brackeys .right {
        left: 117px; }

@keyframes brackeysMove_left {
  from {
    right: 0px;
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    right: 180; }
  to {
    right: 206; } }
@keyframes brackeysMove_right {
  from {
    left: 0px;
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    left: 180; }
  to {
    left: 206; } }
@keyframes opacity_in {
  from {
    opacity: 0; }
  50% {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes opacity_out {
  from {
    opacity: 0; }
  40% {
    opacity: 1; }
  50% {
    opacity: 1; }
  70% {
    opacity: 1; }
  to {
    opacity: 0; } }
#menu-bar {
  position: fixed;
  top: 40px;
  right: 7%; }
  #menu-bar #menu {
    width: 60px;
    height: 45px;
    margin: 30px 0 20px 20px;
    cursor: pointer; }
    #menu-bar #menu .bar {
      height: 10px;
      width: 100%;
      background-color: #ffda00;
      display: block;
      border-radius: 5px;
      transition: 0.3s ease; }
    #menu-bar #menu #bar2 {
      margin: 5px 0; }
    #menu-bar #menu #bar1 {
      transform: translateY(-4px); }
    #menu-bar #menu #bar3 {
      transform: translateY(4px); }

#menu-bar .change .bar {
  background-color: #ffda00; }
#menu-bar .change #bar1 {
  transform: translateY(4px) rotateZ(-45deg); }
#menu-bar .change #bar3 {
  transform: translateY(-6px) rotateZ(-45deg); }

#menu-bar {
  position: fixed;
  top: 40px;
  right: 7%; }
  #menu-bar .change {
    width: 60px;
    height: 45px;
    margin: 30px 0 20px 20px;
    cursor: pointer; }
    #menu-bar .change .bar {
      height: 10px;
      width: 100%;
      background-color: #000;
      display: block;
      border-radius: 5px;
      transition: 0.3s ease; }
    #menu-bar .change #bar2 {
      opacity: 0; }
    #menu-bar .change #bar1 {
      transform: translateY(9px) rotateZ(-45deg); }
    #menu-bar .change #bar3 {
      transform: translateY(-11px) rotateZ(45deg); }

.nav li a {
  font-size: 30px;
  color: #000;
  text-decoration: none; }

.nav li {
  list-style: none;
  padding: 16px 0; }

.nav {
  padding: 0;
  transition: 0.3s ease;
  display: none; }

.nav li a:hover {
  font-weight: bold; }

.change {
  display: block; }

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #ffda00, #f0e12c);
  transition: 0.3s ease;
  border-radius: 50%; }

#menu-bar {
  z-index: 2;
  margin-right: 7%;
  margin-top: 40px; }

.change-bg {
  width: 650px;
  height: 780px;
  transform: translate(60%, -30%); }

#menu-bg, #menu-bar {
  top: 0;
  right: 0;
  position: absolute; }

@media only screen and (max-width: 1000px) {
  .change-bg {
    width: 500px; }

  .nav li {
    list-style: none;
    padding: 16px 0; }
    .nav li a {
      font-size: 24px;
      color: #000;
      text-decoration: none; }

  #menu-bar {
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 0px;
    width: 50px;
    height: 70px; }
    #menu-bar #menu, #menu-bar #nada {
      width: 40px; } }
@media only screen and (max-width: 670px) {
  .change-bg {
    width: 450px;
    height: 680px; }

  #menu-bar {
    right: 10px;
    top: -10px; } }
body {
  margin: 0px;
  padding: 0px;
  height: 2000px;
  background-color: #000; }

#banner {
  margin-top: 130px;
  height: 80vh;
  width: 100%; }
  #banner .parallax-wrapper {
    background-image: url(../IMG/MainBanner/BackgroundBanner.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-color: black; }
    #banner .parallax-wrapper div:nth-child(1) {
      top: 10px;
      position: absolute;
      height: 100vh;
      width: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../IMG/MainBanner/first.png);
      z-index: 8; }
    #banner .parallax-wrapper div:nth-child(2) {
      top: 10px;
      position: absolute;
      height: 100vh;
      width: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../IMG/MainBanner/second.png);
      z-index: 7; }
    #banner .parallax-wrapper div:nth-child(3) {
      top: 15px;
      position: absolute;
      height: 100vh;
      width: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../IMG/MainBanner/third.png);
      z-index: 6; }
    #banner .parallax-wrapper div:nth-child(4) {
      position: absolute;
      height: 100vh;
      width: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../IMG/MainBanner/fourth.png);
      z-index: 5; }
    #banner .parallax-wrapper div:nth-child(5) {
      top: 10px;
      position: absolute;
      height: 100vh;
      width: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../IMG/MainBanner/fifth.png);
      z-index: 4; }
    #banner .parallax-wrapper div:nth-child(6) {
      position: absolute;
      height: 100vh;
      width: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../IMG/MainBanner/sixth.png);
      z-index: 3; }
    #banner .parallax-wrapper div:nth-child(7) {
      position: absolute;
      height: 100vh;
      width: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../IMG/MainBanner/seventh.png);
      z-index: 2; }
    #banner .parallax-wrapper div:nth-child(8) {
      position: absolute;
      height: 100vh;
      width: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../IMG/MainBanner/eigth.png);
      z-index: 1; }
    #banner .parallax-wrapper div:nth-child(8) {
      top: 100vh;
      position: absolute;
      height: 100vh;
      width: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../IMG/MainBanner/first.png);
      transform: scaleY(-1);
      z-index: 1; }
    #banner .parallax-wrapper #divisor {
      position: absolute;
      background-color: black;
      width: 100%;
      height: 250px;
      z-index: 10;
      top: 104vh;
      box-shadow: 0px 0px 17px 51px black; }

.particle {
  position: absolute;
  border-radius: 50%;
  top: 20px;
  left: 0; }

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(34vw, 22.4vh, 54px); } }
.particle:nth-child(1) {
  animation: particle-animation-1 200s infinite, opacityAnimation 3s infinite alternate;
  opacity: 0.55;
  box-shadow: 0px 0px 15px .5px #fff;
  height: 5px;
  width: 5px;
  animation-delay: -0.2s;
  transform: translate3d(36vw, 46.9vh, 71px);
  background: #fff; }

@keyframes opacityAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes particle-animation-2 {
  100% {
    transform: translate3d(26vw, 0.4vh, 15px); } }
.particle:nth-child(2) {
  animation: particle-animation-2 200s infinite, opacityAnimation 3s infinite alternate;
  opacity: 0.8;
  box-shadow: 0px 0px 15px .5px #fff;
  height: 5px;
  width: 5px;
  animation-delay: -0.4s;
  transform: translate3d(43vw, 60.9vh, 30px);
  background: #fff; }

@keyframes opacityAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes particle-animation-3 {
  100% {
    transform: translate3d(4vw, 22.8vh, 67px); } }
.particle:nth-child(3) {
  animation: particle-animation-3 200s infinite, opacityAnimation 3s infinite alternate;
  opacity: 0.88;
  box-shadow: 0px 0px 15px .5px #fff;
  height: 5px;
  width: 5px;
  animation-delay: -0.6s;
  transform: translate3d(56vw, 1.4vh, 36px);
  background: #fff; }

@keyframes opacityAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes particle-animation-4 {
  100% {
    transform: translate3d(47vw, 24.8vh, 100px); } }
.particle:nth-child(4) {
  animation: particle-animation-4 200s infinite, opacityAnimation 3s infinite alternate;
  opacity: 0.4;
  box-shadow: 0px 0px 15px .5px #fff;
  height: 4px;
  width: 4px;
  animation-delay: -0.8s;
  transform: translate3d(57vw, 23.1vh, 77px);
  background: #fff; }

@keyframes opacityAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes particle-animation-5 {
  100% {
    transform: translate3d(70vw, 30vh, 90px); } }
.particle:nth-child(5) {
  animation: particle-animation-5 200s infinite, opacityAnimation 3s infinite alternate;
  opacity: 0.46;
  box-shadow: 0px 0px 15px .5px #fff;
  height: 4px;
  width: 4px;
  animation-delay: -1s;
  transform: translate3d(85vw, 41.3vh, 4px);
  background: #fff; }

@keyframes opacityAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes particle-animation-6 {
  100% {
    transform: translate3d(42vw, 36vh, 71px); } }
.particle:nth-child(6) {
  animation: particle-animation-6 200s infinite, opacityAnimation 3s infinite alternate;
  opacity: 0.01;
  box-shadow: 0px 0px 15px .5px #fff;
  height: 4px;
  width: 4px;
  animation-delay: -1.2s;
  transform: translate3d(69vw, 42.7vh, 70px);
  background: #fff; }

@keyframes opacityAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes particle-animation-7 {
  100% {
    transform: translate3d(48vw, 20.8vh, 97px); } }
.particle:nth-child(7) {
  animation: particle-animation-7 200s infinite, opacityAnimation 3s infinite alternate;
  opacity: 0.83;
  box-shadow: 0px 0px 15px .5px #fff;
  height: 4px;
  width: 4px;
  animation-delay: -1.4s;
  transform: translate3d(60vw, 42.7vh, 30px);
  background: #fff; }

@keyframes opacityAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes particle-animation-8 {
  100% {
    transform: translate3d(60vw, 15.2vh, 100px); } }
.particle:nth-child(8) {
  animation: particle-animation-8 200s infinite, opacityAnimation 3s infinite alternate;
  opacity: 0.07;
  box-shadow: 0px 0px 15px .5px #fff;
  height: 5px;
  width: 5px;
  animation-delay: -1.6s;
  transform: translate3d(59vw, 23.8vh, 96px);
  background: #fff; }

@keyframes opacityAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes particle-animation-9 {
  100% {
    transform: translate3d(90vw, 25.2vh, 68px); } }
.particle:nth-child(9) {
  animation: particle-animation-9 200s infinite, opacityAnimation 3s infinite alternate;
  opacity: 0.43;
  box-shadow: 0px 0px 15px .5px #fff;
  height: 4px;
  width: 4px;
  animation-delay: -1.8s;
  transform: translate3d(16vw, 2.1vh, 50px);
  background: #fff; }

@keyframes opacityAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes particle-animation-10 {
  100% {
    transform: translate3d(9vw, 26.8vh, 61px); } }
.particle:nth-child(10) {
  animation: particle-animation-10 200s infinite, opacityAnimation 3s infinite alternate;
  opacity: 0.75;
  box-shadow: 0px 0px 15px .5px #fff;
  height: 4px;
  width: 4px;
  animation-delay: -2s;
  transform: translate3d(57vw, 21.7vh, 94px);
  background: #fff; }

@keyframes opacityAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes particle-animation-11 {
  100% {
    transform: translate3d(35vw, 5.6vh, 46px); } }
.particle:nth-child(11) {
  animation: particle-animation-11 200s infinite, opacityAnimation 3s infinite alternate;
  opacity: 0.52;
  box-shadow: 0px 0px 15px .5px #fff;
  height: 5px;
  width: 5px;
  animation-delay: -2.2s;
  transform: translate3d(76vw, 9.1vh, 87px);
  background: #fff; }

@keyframes opacityAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes particle-animation-12 {
  100% {
    transform: translate3d(52vw, 7.6vh, 25px); } }
.particle:nth-child(12) {
  animation: particle-animation-12 200s infinite, opacityAnimation 3s infinite alternate;
  opacity: 0.57;
  box-shadow: 0px 0px 15px .5px #fff;
  height: 5px;
  width: 5px;
  animation-delay: -2.4s;
  transform: translate3d(72vw, 32.2vh, 66px);
  background: #fff; }

@keyframes opacityAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes particle-animation-13 {
  100% {
    transform: translate3d(33vw, 33.6vh, 26px); } }
.particle:nth-child(13) {
  animation: particle-animation-13 200s infinite, opacityAnimation 3s infinite alternate;
  opacity: 0.63;
  box-shadow: 0px 0px 15px .5px #fff;
  height: 5px;
  width: 5px;
  animation-delay: -2.6s;
  transform: translate3d(78vw, 12.6vh, 3px);
  background: #fff; }

@keyframes opacityAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes particle-animation-14 {
  100% {
    transform: translate3d(31vw, 0.8vh, 44px); } }
.particle:nth-child(14) {
  animation: particle-animation-14 200s infinite, opacityAnimation 3s infinite alternate;
  opacity: 0.87;
  box-shadow: 0px 0px 15px .5px #fff;
  height: 5px;
  width: 5px;
  animation-delay: -2.8s;
  transform: translate3d(69vw, 26.6vh, 14px);
  background: #fff; }

@keyframes opacityAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes particle-animation-15 {
  100% {
    transform: translate3d(11vw, 11.2vh, 60px); } }
.particle:nth-child(15) {
  animation: particle-animation-15 200s infinite, opacityAnimation 3s infinite alternate;
  opacity: 0.59;
  box-shadow: 0px 0px 15px .5px #fff;
  height: 5px;
  width: 5px;
  animation-delay: -3s;
  transform: translate3d(70vw, 39.2vh, 7px);
  background: #fff; }

@keyframes opacityAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes particle-animation-16 {
  100% {
    transform: translate3d(66vw, 23.2vh, 53px); } }
.particle:nth-child(16) {
  animation: particle-animation-16 200s infinite, opacityAnimation 3s infinite alternate;
  opacity: 0.22;
  box-shadow: 0px 0px 15px .5px #fff;
  height: 4px;
  width: 4px;
  animation-delay: -3.2s;
  transform: translate3d(66vw, 42vh, 3px);
  background: #fff; }

@keyframes opacityAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes particle-animation-17 {
  100% {
    transform: translate3d(53vw, 34.8vh, 12px); } }
.particle:nth-child(17) {
  animation: particle-animation-17 200s infinite, opacityAnimation 3s infinite alternate;
  opacity: 0.58;
  box-shadow: 0px 0px 15px .5px #fff;
  height: 4px;
  width: 4px;
  animation-delay: -3.4s;
  transform: translate3d(59vw, 1.4vh, 45px);
  background: #fff; }

@keyframes opacityAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes particle-animation-18 {
  100% {
    transform: translate3d(10vw, 14.8vh, 56px); } }
.particle:nth-child(18) {
  animation: particle-animation-18 200s infinite, opacityAnimation 3s infinite alternate;
  opacity: 0.98;
  box-shadow: 0px 0px 15px .5px #fff;
  height: 5px;
  width: 5px;
  animation-delay: -3.6s;
  transform: translate3d(55vw, 32.2vh, 49px);
  background: #fff; }

@keyframes opacityAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes particle-animation-19 {
  100% {
    transform: translate3d(63vw, 21.2vh, 30px); } }
.particle:nth-child(19) {
  animation: particle-animation-19 200s infinite, opacityAnimation 3s infinite alternate;
  opacity: 0.48;
  box-shadow: 0px 0px 15px .5px #fff;
  height: 4px;
  width: 4px;
  animation-delay: -3.8s;
  transform: translate3d(43vw, 60.9vh, 59px);
  background: #fff; }

@keyframes opacityAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes particle-animation-20 {
  100% {
    transform: translate3d(62vw, 26.4vh, 3px); } }
.particle:nth-child(20) {
  animation: particle-animation-20 200s infinite, opacityAnimation 3s infinite alternate;
  opacity: 0.15;
  box-shadow: 0px 0px 15px .5px #fff;
  height: 4px;
  width: 4px;
  animation-delay: -4s;
  transform: translate3d(69vw, 34.3vh, 54px);
  background: #fff; }

@keyframes opacityAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes particle-animation-21 {
  100% {
    transform: translate3d(53vw, 25.6vh, 39px); } }
.particle:nth-child(21) {
  animation: particle-animation-21 200s infinite, opacityAnimation 3s infinite alternate;
  opacity: 0.89;
  box-shadow: 0px 0px 15px .5px #fff;
  height: 5px;
  width: 5px;
  animation-delay: -4.2s;
  transform: translate3d(37vw, 39.9vh, 75px);
  background: #fff; }

@keyframes opacityAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes particle-animation-22 {
  100% {
    transform: translate3d(17vw, 27.6vh, 5px); } }
.particle:nth-child(22) {
  animation: particle-animation-22 200s infinite, opacityAnimation 3s infinite alternate;
  opacity: 0.27;
  box-shadow: 0px 0px 15px .5px #fff;
  height: 4px;
  width: 4px;
  animation-delay: -4.4s;
  transform: translate3d(61vw, 32.2vh, 98px);
  background: #fff; }

@keyframes opacityAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes particle-animation-23 {
  100% {
    transform: translate3d(58vw, 14.4vh, 8px); } }
.particle:nth-child(23) {
  animation: particle-animation-23 200s infinite, opacityAnimation 3s infinite alternate;
  opacity: 0.86;
  box-shadow: 0px 0px 15px .5px #fff;
  height: 5px;
  width: 5px;
  animation-delay: -4.6s;
  transform: translate3d(58vw, 47.6vh, 16px);
  background: #fff; }

@keyframes opacityAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes particle-animation-24 {
  100% {
    transform: translate3d(61vw, 31.6vh, 70px); } }
.particle:nth-child(24) {
  animation: particle-animation-24 200s infinite, opacityAnimation 3s infinite alternate;
  opacity: 0.33;
  box-shadow: 0px 0px 15px .5px #fff;
  height: 5px;
  width: 5px;
  animation-delay: -4.8s;
  transform: translate3d(53vw, 35vh, 93px);
  background: #fff; }

@keyframes opacityAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes particle-animation-25 {
  100% {
    transform: translate3d(8vw, 24.4vh, 19px); } }
.particle:nth-child(25) {
  animation: particle-animation-25 200s infinite, opacityAnimation 3s infinite alternate;
  opacity: 0.37;
  box-shadow: 0px 0px 15px .5px #fff;
  height: 4px;
  width: 4px;
  animation-delay: -5s;
  transform: translate3d(90vw, 37.1vh, 8px);
  background: #fff; }

@keyframes opacityAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes particle-animation-26 {
  100% {
    transform: translate3d(74vw, 14.8vh, 70px); } }
.particle:nth-child(26) {
  animation: particle-animation-26 200s infinite, opacityAnimation 3s infinite alternate;
  opacity: 0.81;
  box-shadow: 0px 0px 15px .5px #fff;
  height: 5px;
  width: 5px;
  animation-delay: -5.2s;
  transform: translate3d(5vw, 23.8vh, 99px);
  background: #fff; }

@keyframes opacityAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes particle-animation-27 {
  100% {
    transform: translate3d(49vw, 13.6vh, 42px); } }
.particle:nth-child(27) {
  animation: particle-animation-27 200s infinite, opacityAnimation 3s infinite alternate;
  opacity: 0.85;
  box-shadow: 0px 0px 15px .5px #fff;
  height: 4px;
  width: 4px;
  animation-delay: -5.4s;
  transform: translate3d(18vw, 8.4vh, 90px);
  background: #fff; }

@keyframes opacityAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes particle-animation-28 {
  100% {
    transform: translate3d(21vw, 12.4vh, 59px); } }
.particle:nth-child(28) {
  animation: particle-animation-28 200s infinite, opacityAnimation 3s infinite alternate;
  opacity: 0.37;
  box-shadow: 0px 0px 15px .5px #fff;
  height: 4px;
  width: 4px;
  animation-delay: -5.6s;
  transform: translate3d(42vw, 62.3vh, 57px);
  background: #fff; }

@keyframes opacityAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes particle-animation-29 {
  100% {
    transform: translate3d(65vw, 16.4vh, 61px); } }
.particle:nth-child(29) {
  animation: particle-animation-29 200s infinite, opacityAnimation 3s infinite alternate;
  opacity: 0.48;
  box-shadow: 0px 0px 15px .5px #fff;
  height: 5px;
  width: 5px;
  animation-delay: -5.8s;
  transform: translate3d(59vw, 9.1vh, 88px);
  background: #fff; }

@keyframes opacityAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes particle-animation-30 {
  100% {
    transform: translate3d(83vw, 30.4vh, 35px); } }
.particle:nth-child(30) {
  animation: particle-animation-30 200s infinite, opacityAnimation 3s infinite alternate;
  opacity: 0.19;
  box-shadow: 0px 0px 15px .5px #fff;
  height: 5px;
  width: 5px;
  animation-delay: -6s;
  transform: translate3d(42vw, 4.2vh, 61px);
  background: #fff; }

@keyframes opacityAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=styles.css.map */
