#header{
    width: 100%;
    margin:0px auto;
    position: fixed;
    top: 0px;
    left: 0;
    background-color: rgba($color: #000000, $alpha: .8);
    z-index: 2000;
    #contenedorTitulo{
        margin-top: 5px;
        margin-top: 5px;
    }
    .logo{
        @include contenedorSize(430px,95px,flex);
        justify-content: center;
        align-items: flex-end;
        cursor: pointer;
        transition: all 1s;
        #iluminacion{
            background-color: #fff;
            transition: all 1s;
           position: absolute;
            transform: translate(-32px,-31px);
            @include contenedorSize(60px,63px);
            border-radius: 50%;
            z-index: 2;
            //background-color: $amarilloBordes;
            opacity: 0;
            transition: .3s;
            animation: opacity_out 1.3s ease 2s;
            box-shadow: 0px 0px 49px 17px $amarilloBordes;
            div{
                background-color: #fff;
                transition: all 1s;
                //background-color: $amarilloBordes;
                position: absolute;
                top: 56px;
                left: 18px;
                @include contenedorSize(23px, 13px);
            }
        }
        #iluminacion:hover{
            transition: all 1s;
            opacity: 1;
            transition: .1s;
        }
        h1{
            transition: transform 1s;
            @include contenedorSize(405px,100px,flex);
            color: $colorBlanco;
            justify-content: space-between;
            align-items: flex-end;
            #Link{
                transition: transform 1s;
                opacity: 0;
                font-weight: 100;
                animation: opacity_in 1.3s;
                animation-delay: .5s;
                animation-fill-mode: forwards;
            }
            #Spired{
                transition: transform 1s;
                opacity: 0;
                animation: opacity_in 1.3s;
                animation-delay: .8s;
                animation-fill-mode: forwards;
            }
            .icono{
                transition: transform 1s;
                background-image: url(../IMG/Logo_LinkSpired.png);
                background-position: center;
                background-size: cover;
                width: 65px;
                height: 100%;
                opacity: 0;
                font-weight: 100;
                animation: opacity_in 1.3s;
                animation-delay: 1.1s;
                animation-fill-mode: forwards;
            }
        }
    }
    .logoFooter{
        transition: all 1s;
        @include contenedorSize(295px,55px,flex);
        align-items: flex-end;
        h2{
            transition: all 1s;
            font-weight: 100;
            color: $colorBlanco;
            @include contenedorSize(350px, 30px);
            opacity: 0;
            font-weight: 100;
            animation: opacity_in 1.3s;
            animation-delay: 1.2s;
            animation-fill-mode: forwards;
        }
    }
    #brackeys{
        transition: all 1s;
        position: absolute;
        left: 50%;
        top: 14px;
        .left, .right{
            transition: all 1s;
            position: absolute;
            font-size: 70px;
            color:$colorBlanco;
        }
        .left{
            right: 206px;
            animation: brackeysMove_left 1.7s;
        }
        .right{
            left: 206px;
            animation: brackeysMove_right 1.7s;
        }
    }
}
 .down{
    height: 120px;
    transition: all 1s;
    #contenedorTitulo{
        height: 90px;
        #iluminacion{
            background-color: #fff;
            width: 40px;
            height: 41px;
            left: 48.5%;
            top: 41px;
            div{
                background-color: #fff;
                width: 17.5px;
                height: 13px;
                margin: -21px 0px 0px -6px;
            }
        }
        .logo{
            height: 70px;
            h1{
                width: 300px;
                font-size: 50px;
                height: 70px;
                span{
                    height: 43px;
                }
                .icono{
                    width: 45px;
                    height: 100%;
                }
            }
        }
        .logoFooter{
            width: 300px;
            text-align: center;
            height: 50px;
            h2{
                font-size: 17px;
            }
        }
        #brackeys{
            position: absolute;
            left: 50%;
            top: 25px;
            .left, .right{
                font-size: 50px;
            }
            .left{
                right: 150px;}
            .right{
                left: 150px;
            }
        }
    }
}
 .up{
    height: 180px;
    transition: all 1s;
    .logo{
        h1{
            font-size: 70px;
            span{
                height: 73px;
            }
        }
    }
}
 .phone{
    height: 100px;
    transition: all 1s;
    #contenedorTitulo{
        height: 90px;
        .logo{
        justify-content: flex-start;
        width: 300px;
        margin-left: 25px;
            height: 65px;
            h1{
                height:50px;
                width: 230px;
                font-size: 40px;
                span{
                    
                    height: 40px;
                }
                .icono{
                    width: 30px;
                    height: 100%;
                    margin-bottom: 0;
                }
            }
        }
        .logoFooter{
            margin-left:70px;
            height: 40px;
            h2{
                font-size: 14.5px;
            }
        }
        #brackeys{
            position: absolute;
            left: 140px;
            top: 28px;
            .left, .right{
                font-size: 40px;
            }
            .left{
                right: 117px;}
            .right{
                left: 117px;
            }
        }
    }
}
@keyframes brackeysMove_left{
    from{
        right: 0px;
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        right: 180;
    }
    to{
        right: 206;
    }
}
@keyframes brackeysMove_right{
    from{
        left: 0px;
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        left: 180;
    }
    to{
        left: 206;
    }
}
@keyframes opacity_in{
    from{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes opacity_out{
    from{
        opacity: 0;
    }
    40%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@media only screen and (max-width: 1000px) {
    
}
@media only screen and (max-width: 670px) {
    header{
        //height: 90px;
        .logo{
            width: 300px;
            margin: 0 36px;
            #iluminacion{
                display: none;
            }
            h1{
                width: 300px;
                font-size: 50px;
            }
            .icono{
                margin-bottom: 15px ;
                height: 75px;
                width: 50px;
            }
        }
        .logoFooter{
            margin: 0 0 0 35px;
            height: 30px;
            h2{
                font-size: 20px;
                width: 250px;
            }
        }
        #brackeys{
            left: 185px;
            top: 34px;
            .left, .right{
                font-size: 50px;
            }
            .left{
                right:150px;
            }
            .right{
                left: 150px;
            }
        }
    } 
}