
.particle {
    position: absolute;
    border-radius: 50%;
    top: 20px;
    left: 0;
}

@for $i from 1 through 30 {
    @keyframes particle-animation-#{$i} {
        100% {
            transform: translate3d((random(90) * 1vw), (random(90) * .4vh), (random(100) * 1px));
        }
    }
    
    .particle:nth-child(#{$i}){
        animation: particle-animation-#{$i} 200s infinite, opacityAnimation 3s infinite alternate;
        $size: random(2) + 3 + px;
        opacity: random(100)/100;
        box-shadow: 0px 0px 15px .5px #fff;
        height: $size;
        width: $size;
        animation-delay: -$i * .2s;
        transform: translate3d((random(90) * 1vw), (random(90) * .7vh), (random(100) * 1px));
        background: #fff;
    }
    @keyframes opacityAnimation {
        0%{
            opacity:0;
        }
        100%{
            opacity: 1;
        }
    }
}
@media only screen and (max-width: 670px) {
    
}